:root {
  --main-default: #172b4d;
  --main-primary: #5e72e4;
  --main-secondary: #f4f5f7;
  --main-info: #11cdef;
  --main-success: #2dce89;
  --main-danger: #f5364c;
  --main-warning: #fb6340;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}